{% extends 'base.html.twig' %}

{% block title %}Ma super Bibliothèque{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Nb pages</th>
          <th>Genre</th>
          {% if is_granted('ROLE_ADMIN') %}
            <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for livre in livres %}
        <tr>
            <td><a href="/livre/{{ livre.id }}">{{ livre.titre }}</a></td>
            <td>{{ livre.nbpages }}</td>
            <td>{{ livre.genre }}</td>
            {% if is_granted('ROLE_ADMIN') %}
              <td><a href="/editer/{{ livre.id }}">Editer</a> | <a href="/supprimer/{{ livre.id }}" onclick="return confirm('êtes-vous sûrs ?')">Supprimer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table> 
  </div>
</div>
{% endblock %}
